---
import Navbar from '../components/Navbar'; 
import HeroSection from '../components/HeroSection';
import ClientsSection from '../components/ClientsSection';
import Footer from '../components/Footer';
import DemoSection from '../components/DemoSection';
import AdvantagesSection from '../components/AdvantagesSection';
---

<html lang="pt-BR">
  <head>
    <title>Senhasegura - Gestão de Acesso Privilegiado</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <Navbar />
    
    <div class="container"> <!-- Aplica a classe container em todo o conteúdo -->
      <HeroSection />
      <ClientsSection />
      <AdvantagesSection />
      <DemoSection />
    </div>
    
    <Footer />
  </body>
</html>
