.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #045a5b;
  min-height: 90vh;
  font-family: 'Arial', sans-serif;

  .marcas {
    margin-left: 10rem;
  }

  .hero-content {
    max-width: 50%;
    color: #ffffff;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      margin-left: 10rem;
    }

    p {
      font-size: 1.25rem;
      margin-left: 10rem;
    }

    .hero-subtitle {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-family: 'Arial', sans-serif;
    }

    .cta-buttons {
      display: flex;
      gap: 1rem;
      margin-left: 10rem;

      .cta-button {
        padding: 1rem 1.5rem;
        border-radius: 4px;
        background-color: #ff8748;
        color: black;
        text-decoration: none;
        font-weight: bold;
      }

      .secondary {
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
      }
    }
  }

  .hero-image img {
    max-width: 60%;
  }
}
